In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv') # чтение данных

<ipython-input-2-75ce2aad8200>:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Серия для подсчета количества или величины для полей, имеющих несколько значений

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [48]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] # вычислени прибыли

# подготовка жанров
genres_list  = data['genres'].tolist() # список жанров с повторами
all_genres = '|'.join(genres_list).split('|') #создание списка из всех жанров всех фильмов
s_genres = pd.Series(all_genres) #перевод в серию всех повторов жанров для подсчета
genres_list_u = s_genres.unique().tolist() #список всех видов жанров (уникальных)
df_genres = pd.DataFrame({'genres' : genres_list_u}) # dataframe всех жанров

# подготовка режиссеров
director_list = data['director'].tolist()
all_directors = '|'.join(director_list).split('|') #создание списка из всех режисеров всех фильмов
director_list_u = pd.Series(all_directors).unique().tolist() # список всех режиссеров
df_dir = pd.DataFrame({'director' : director_list_u}) # dataframe всех режисеров

series1 = pd.Series() # Серия для подсчета количества или величины для полей, имеющих несколько значений

# Универсальная функция подсчета колиества для полей с несколькими значениями
def col_counter(col):
    for s in col.split('|'):
        if s in series1:
            series1[s] += 1
        else:
            series1[s] = int(1)

# Универсальная функция суммирования параметра для полей с несколькими значениями
def col_summ(col,param):
    for s in col.split('|'):
        if s in series1:
            series1[s] += param
        else:
            series1[s] = float(param)

# Функция сортировки и возврата первого/последнего значения/индекса
def get_first_frequant_data(is_higher,is_value):
    if is_higher==False:
        series1.sort_values(ascending=True,inplace=True)
    else:
        series1.sort_values(ascending=False,inplace=True)
    if is_value==True:
        return series1[0]
    else:
        return series1.index[0]

<ipython-input-48-b20cc5aede42>:18: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Серия для подсчета количества или величины для полей, имеющих несколько значений

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = (str(data.query('budget==' + 
            str(data.budget.max())).original_title.iloc[0]) + 
            ' ('+str(data.query('budget==' + 
            str(data.budget.max())).imdb_id.iloc[0]) + ')')

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

answers['2'] = (str(data.query('runtime==' + 
            str(data.runtime.max())).original_title.iloc[0]) + 
            ' ('+str(data.query('runtime==' + 
            str(data.runtime.max())).imdb_id.iloc[0]) + ')')

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
answers['3'] = (str(data.query('runtime==' + 
            str(data.runtime.min())).original_title.iloc[0]) + 
            ' ('+str(data.query('runtime==' + 
            str(data.runtime.min())).imdb_id.iloc[0]) + ')')

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = 110
answers['4'] = str(round(data.runtime.mean()/5)*5)

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = 107.0
answers['5'] = str(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
answers['6'] = (str(data.query('profit==' + 
            str(data.profit.max())).original_title.iloc[0]) + 
            ' ('+str(data.query('profit==' + 
            str(data.profit.max())).imdb_id.iloc[0]) + ')')

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = 'The Lone Ranger (tt1210819)'
answers['7'] = (str(data.query('profit==' + 
            str(data.profit.min())).original_title.iloc[0]) + 
            ' ('+str(data.query('profit==' + 
            str(data.profit.min())).imdb_id.iloc[0]) + ')')

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = 1478
answers['8'] = str(data[data.profit > 0].imdb_id.count())

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
answers['9'] = 'The Dark Knight (tt0468569)'
maxRev2008 = data.query('release_year==2008').revenue.max() # фильтрация и агрегация
mr2008 = data[(data.release_year==2008) & (data.revenue==maxRev2008)].iloc[0]
answers['9'] = str(mr2008.original_title) + ' (' + str(mr2008.imdb_id) + ')'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# фильтрация разными способами
minProf2012_2014 = data.query('release_year>=2012 & release_year<=2014').profit.min()
mr2012_2014 = data[(data.release_year>=2012) & (data.release_year<=2014) & 
                   (data.profit==minProf2012_2014)].iloc[0]
answers['10'] = str(mr2012_2014.original_title) + ' (' + str(mr2012_2014.imdb_id) + ')'

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
stat_genres = s_genres.value_counts() # подсчет всех жанров (повторений)
stat_genres.index[0] 
answers['11'] = stat_genres.index[0]

ВАРИАНТ 2

In [18]:
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_counter(row['genres']) ,axis=1) # подсчет, только apply :(
answers['11'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-18-444dc2e92753>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = 'Drama'
series1 = pd.Series() # Инициализация серии для подсчета
data[data.profit>0].apply(lambda row: col_counter(row['genres']) ,axis=1) # подсчет, только apply :(
answers['12'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-19-a760fe4be9f0>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
answers['13'] = 'Peter Jackson'
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_summ(row['director'],row['revenue']) ,axis=1) # подсчет, только apply :(
answers['13'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-20-19af064c88b0>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:

answers['14'] = 'Robert Rodriguez'
# функция выделения фильмов, у которых в тексте жанров есть Action
def isAction (genres):
    if genres.find('Action')!=-1:
        return int(1)
    else:
        return int(0)
# Добавляем столбец для фильтрации
data['isAction'] = data.apply(lambda rw: isAction(rw['genres']),axis=1)

series1 = pd.Series() # Инициализация серии для подсчета
data[data.isAction==1].apply(lambda row: col_counter(row['director']) ,axis=1) # подсчет, только apply :(
answers['14'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-21-568b69905d87>:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = 'Chris Hemsworth'
series1 = pd.Series() # Инициализация серии для подсчета
data[data.release_year==2012].apply(lambda row: col_summ(row['cast'],row['revenue']) ,axis=1) # подсчет, только apply :(
answers['15'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-22-745be87ae874>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = 'Matt Damon'
series1 = pd.Series() # Инициализация серии для подсчета
data[data.budget>data.budget.mean()].apply(lambda row: col_counter(row['cast']) ,axis=1) # подсчет, только apply :(
answers['16'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-23-958639c3800f>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = 'Action'
# Функция поиска в списке актера Кейджа
def isCage (cast):
    if genres.find('Nicolas Cage')!=-1:
        return int(1)
    else:
        return int(0)
# добавление столбца для фильтрации
data['xCage'] = data.apply(lambda rw: isAction(rw['genres']),axis=1)
 
series1 = pd.Series() # Инициализация серии для подсчета
data[data.xCage==1].apply(lambda row: col_counter(row['genres']) ,axis=1) # подсчет, только apply :(
answers['17'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-24-61825cd1bcd1>:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# функция поиска кинокомпании Парамоунт 
def isParamount (pp):
    if pp.find('Paramount Pictures')!=-1:
        return int(1)
    else:
        return int(0)
# добавление столбца для фильтрации
data['xParamount'] = data.apply(lambda rw: isParamount(rw['production_companies']),axis=1)

series1 = pd.Series() # Инициализация серии для подсчета
data[data.xParamount==1].apply(lambda row: col_summ(row['original_title'],row['profit']) ,axis=1) # подсчет, только apply :(
answers['18'] = get_first_frequant_data(False,False) # вывод ответа

<ipython-input-25-de4344cfb939>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = 2015
answers['19'] = data.groupby('release_year').sum().revenue.sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = 2014
# функция поиска студнии WB
def isWB (pp):
    if pp.find('Warner Bros')!=-1:
        return int(1)
    else:
        return int(0)
# добавление столбца для фильтрации
data['xWB'] = data.apply(lambda rw: isWB(rw['production_companies']),axis=1)
answers['20'] = data[data.xWB==1].groupby('release_year').sum().profit.sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = 'Сентябрь'
# создание столбца для выделения месяца выпуска
data['release_month'] = int(0)
# функция поиска месяца
def getMonth(date1):
    return dt.datetime.strptime(date1,'%m/%d/%Y').month
# заполнение столбца
data['release_month']=data.apply(lambda s: getMonth (s['release_date']), axis=1)
# группировка, сортировка
data.groupby('release_month').count().sort_values(by='imdb_id',ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = 450
data.query('release_month>=6 & release_month<=8').count().iloc[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
answers['23'] = 'Peter Jackson'
series1 = pd.Series() # Инициализация серии для подсчета
# дополнительный дф для фильтрации, но можно было и без него
df1 = data.query('release_month==12 | release_month<3')
df1.apply(lambda row: col_counter(row['director']) ,axis=1) # подсчет, только apply :(
answers['23'] = get_first_frequant_data(True,False) # вывод ответа

<ipython-input-30-f20e6d3c2c79>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [45]:
answers['24'] = 'Four By Two Productions'
# вычисляем количество фильмов каждой студии
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_counter(row['production_companies']) ,axis=1) # подсчет, только apply :(
# запоминаем в доп.серии количество фильмов
series2 = series1.copy()
# вычисляем сколько символов в сумме дала каждая кинокомпания
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_summ(row['production_companies'],len(str(row['original_title']))) ,axis=1) # подсчет, только apply :(
# создаем датафрейм для подсчета суммарного количества символов
df_prod_companies = pd.DataFrame ({'company': series1.index, 'symb': series1.values})
# создаем датафрейм для подсчета суммарного фильмов
df2 =  pd.DataFrame ({'company': series2.index, 'movies': series2.values})
# создаем общий с объединением по компании
df3 = df_prod_companies.merge (df2,on='company',how='inner')
# вычисление среднего
df3['avg_symb'] = df3.symb/df3.movies
# сортировка
df3.sort_values('avg_symb',ascending=False,inplace=True)
answers['24'] = df3.iloc[0].company

<ipython-input-45-e158f27421dd>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета
<ipython-input-45-e158f27421dd>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [46]:
answers['25'] = 'Midnight Picture Show'
data['ov_len'] = data.apply (lambda row: len(str(row['overview']).split()), axis=1)
# вычисляем количество фильмов каждой студии
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_counter(row['production_companies']) ,axis=1) # подсчет, только apply :(
# запоминаем в доп.серии количество фильмов
series2 = series1.copy()
# вычисляем суммарное количество слов описаний фильмов в каждой студии
series1 = pd.Series() # Инициализация серии для подсчета
data.apply(lambda row: col_summ(row['production_companies'],len(str(row['overview']).split())) ,axis=1) # подсчет, только apply :(
# создаем датафрейм для подсчета суммарного количества символов
df_prod_companies = pd.DataFrame ({'company': series1.index, 'words': series1.values})
# создаем датафрейм для подсчета суммарного фильмов
df2 =  pd.DataFrame ({'company': series2.index, 'movies': series2.values})
# создаем общий с объединением по компании
df3 = df_prod_companies.merge (df2,on='company',how='inner')
# вычисление среднего
df3['avg_words'] = df3.words/df3.movies
# сортировка
df3.sort_values('avg_words',ascending=False,inplace=True)
answers['25'] = df3.iloc[0].company

<ipython-input-46-a0420908dd09>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета
<ipython-input-46-a0420908dd09>:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series() # Инициализация серии для подсчета

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
# вычисление количества фильмов соответствующее 1% всех фильмов
total_movies_1perc=int(data.count().imdb_id/100)
# сортировка и вывод 1% датафрейма (затем ищем среди первых)
answers['26'] = data.sort_values('vote_average',ascending=False).original_title.\
                    head(total_movies_1perc)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
# сбор списка актеров
answers ['27'] = 'Daniel Radcliffe|Rupert Grint'
cross_dic = {} # словарь для накопления информации о попарных совместных сьемках
# функция добавляющая попарные совпадения в словарь, либо увеличивющая значения если
# такое совпадение уже есть
def collect_cross_dic (act1,act2):
    if ((str(act1)+'|'+str(act2)) in cross_dic):
        cross_dic[str(act1)+'|'+str(act2)] += 1
    else:
        if ((str(act2)+'|'+str(act1)) in cross_dic):
            cross_dic[str(act2)+'|'+str(act1)] += 1
        else:
            cross_dic[str(act1)+'|'+str(act2)] = int(1)
# функция перебирающая все вариации актеров в фильме и записывающая их попарно в словарь
def store_cmdata (cast):
    actors = cast.split('|')
    if len(actors)>1:
        for act1 in actors:
            for act2 in actors:
                if act1!=act2:
                    collect_cross_dic (act1,act2)
# проход по всем фильмам и вызов функции записи попарного участия актеров
data.apply(lambda row: store_cmdata(row['cast']),axis=1)
# сортировка по серии попарного участия
s  = pd.Series(cross_dic,index=cross_dic.keys()).sort_values(ascending=False)
display (s) # смотрим пары

Daniel Radcliffe|Emma Watson        16
Daniel Radcliffe|Rupert Grint       16
Rupert Grint|Emma Watson            16
Ben Stiller|Owen Wilson             12
Johnny Depp|Helena Bonham Carter    12
                                    ..
Tom Hanks|Paul Giamatti              2
Emma Thompson|Ruth Wilson            2
Emma Thompson|Colin Farrell          2
Emma Thompson|Paul Giamatti          2
Chris Pratt|Bryce Dallas Howard      2
Length: 17942, dtype: int64

# Submission

In [47]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                   The Dark Knight
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 34                                               Room
 1183                          The Wolf of Wall Street
 128                                         Gone Girl
 1191                                 12 Years a Slave
 119                           Guardians of the Galaxy
 1081    The Lord of the Rings: The Return of the King
 1800                                          Memento
 370                                         Inception
 872                                       The Pianist
 138                          The Grand Budapest Hotel
 1188                                              Her
 28                                          Spotlight
 124                                        Big Hero 6
 177                            The Fault in Our Stars
 Name: original_title, dtype: object}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

26